<% if (theme.music){ %>
  <aside class="widget">
    <h3 class="widget-title">Music</h3>
    <div class="widget-content">
      
		<audio id="musicPlugin" src="" controls="controls" loop="loop" preload="auto" style="width:100%">
        您的浏览器不支持 audio 标签。
		</audio>
	
		<script type="text/javascript">
			var musicNames = <%- '"' + theme.music + '"' %>;
  			var musicArr = musicNames.split(",");
			var srcStr = "/music/"+musicArr[Math.floor(Math.random()*musicArr.length)];
			document.getElementById("musicPlugin").src = srcStr;
		</script>
    </div>
  </aside>
<% } %>
