<aside id="search" class="widget widget_search">
	<form role="search" method="get" accept-charset="utf-8" id="searchform" class="searchform" action="https://www.baidu.com/s" target="_blank">
    	<div>
	        <input type="text" value="" name="wd" id="kw" />
        	<input type="submit" id="searchsubmit" value="搜索" />
    	</div>
	</form>
</aside>
