<footer id="colophon" role="contentinfo" align="center">
    <p>&copy; <%= date(new Date(), 'YYYY-MM-DD') %> <%= config.author || config.title %>
    All rights reserved.</p>
    <p>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
</footer>
